@page
@model IndexModel
@{
    int rows = 1;
}

<h1 class="mb-3">Список адресов</h1>

@if (Model.Addresses != null && Model.Addresses.Any())
{
    <form asp-page="./Index" method="get">
        <div class="form-actions no-color">
            <p>
                Найти все адреса в населённом пункте:
                <select class="btn cities" name="searchString" class="form-control" asp-items="Model.Cities"></select>
                <input type="submit" value="Search" class="btn btn-primary" /> |
                <a asp-page="./Index">Вернуться к исходному списку</a>
            </p>
        </div>
    </form>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">
                    <a asp-page="./Index" asp-route-SortOrder="@Model.CitySort">
                        Населённый пункт
                    </a>
                </th>
                <th scope="col">
                    <a asp-page="./Index" asp-route-SortOrder="@Model.HouseSort">
                        Дом
                    </a>
                </th>
                <th scope="col">
                    <a  asp-page="./Index" asp-route-SortOrder="@Model.FlatNumberSort">
                        Колиство квартир
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Addresses)
            {
                <tr>
                    <th scope="row">@rows</th>
                    <td>@item.CityName</td>
                    <td>@item.HouseName</td>
                    <td>@item.FlatsNumber</td>
                </tr>
                rows++;
            }
        </tbody>
    </table>
}
else
{
    <p>Ни один адрес не был найден</p>
}
