@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="mb-3">Список адресов</h1>

@if (Model.Addresses != null && Model.Addresses.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-page="./Index" asp-route-SortOrder="@Model.CitySort">
                        Населённый пункт
                    </a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-SortOrder="@Model.StreetSort">
                        Улица
                    </a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-SortOrder="@Model.HouseSort">
                        Дом
                    </a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-SortOrder="@Model.FlatNumberSort">
                        Колиство квартир
                    </a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-SortOrder="@Model.FlatSort">
                        Квартира
                    </a>
                </th>
                <th>
                    <a asp-page="./Index" asp-route-SortOrder="@Model.OwnerSort">
                        Собственник
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Addresses)
            {
                <tr>
                    <td>@item.CityName</td>
                    <td>@item.StreetName</td>
                    <td>@item.HouseName</td>
                    <td>@item.FlatsNumber</td>
                    <td>@item.FlatName</td>
                    <td>@item.FIO</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Ни один адрес не был найден</p>
}
